.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  height: 72px;
  padding: 16px;
  border-radius: 18px;
  background-color: var(--connect-bar-connector-background-color);
  transition: background-color .2s ease-in;
  cursor: pointer;
  user-select: none;

  &:not(:first-child) {
    margin-top: 8px;
  }

  &:hover {
    background-color: var(--connect-bar-connector-background-color-hover);
  }

  &:active {
    background-color: var(--connect-bar-connector-background-color-active);
  }
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.name {
  margin-left: 24px;
}