.container {
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-family: 'Gilroy';
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.toggleButton {
  margin-left: min(30px);
}