.overflow {
  position: fixed;
  top: 0;
  height: 100%;
  left: 100%;
  z-index: 9999;
  width: 100%;
  transition: transform .1s ease-out;
  transform: translateX(0);

  &.opened {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  height: calc(100% - env(safe-area-inset-top));
  margin-top: env(safe-area-inset-top);
  color: #ffffff;
  font-family: 'Proxima Nova', sans-serif;
  background-color: var(--statistics-bar-background-color);
  box-shadow: var(--statistics-bar-box-shadow);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 12px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--statistics-bar-close-icon-border-color);
  border-radius: 12px;
  background-color: var(--statistics-bar-close-icon-background-color);
  transition: all .7s linear;

  &:active {
    background-color: var(--statistics-bar-close-icon-background-color-active);
    border-color: var(--statistics-bar-close-icon-border-color-active);
  }
}

.disconnect {
  svg {
    display: none;
    &~svg {
      display: unset;
    }
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
}

.address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 24px;
}

.copyIcon {
  margin-left: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-height: 0;
  overflow-y: auto;
  padding-top: 12px;
  padding-bottom: 80px;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .head {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 300px;
  
    > div {
      margin-bottom: 16px;
      padding: 9.5px 20px;
      background-color: var(--statistics-bar-tab-bg-color);
      border-radius: 100px;
      border: 2px solid transparent;
      font-size: 15px;
      color: #ffffff;
  
      &.activeTab {
        border-color: #ffffff;
        background-color: transparent;
      }
    }
  }
}

.hidden {
  pointer-events: none;
  visibility: hidden;
}
