.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  padding: 0 8px;
  background-color: var(--header-bg);
  z-index: 2;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.right {
  margin-left: 16px;
  margin-right: 8px;
}

.logo {
  width: 40px;
  height: 40px;

  svg {
    width: 40px;
    height: 40px;
  }
}