.container {
  width: 100%;
  overflow-y: auto;
}

.statsTableTd[data-column="0"] {
  text-transform: capitalize;
}

.tdRight[data-column="1"] {
  text-align: right;
}

.tokenStatsTable {
  margin-top: 24px;
}
