.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 8px;
  bottom: 8px;
  left: 100%;
  z-index: 3;
  width: 480px;
  padding: 40px 32px 32px 32px;
  border-radius: 32px 0px 0px 32px;
  color: #ffffff;
  font-family: 'Proxima Nova', sans-serif;
  background-color: var(--statistics-bar-background-color);
  box-shadow: var(--statistics-bar-box-shadow);
  transition: transform .1s ease-out;
  transform: translateX(0);

  &.opened {
    transform: translateX(-100%);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--statistics-bar-close-icon-border-color);
  border-radius: 12px;
  background-color: var(--statistics-bar-close-icon-background-color);
  transition: all .7s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--statistics-bar-close-icon-background-color-hover);
    border-color: var(--statistics-bar-close-icon-border-color-hover);
  }

  &:active {
    background-color: var(--statistics-bar-close-icon-background-color-active);
    border-color: var(--statistics-bar-close-icon-border-color-active);
  }
}

.disconnect {
  svg {
    display: none;
    &~svg {
      display: unset;
    }
  }
  &:hover {
    svg {
      display: unset;
      &~svg {
        display: none;
      }
    }
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
}

.nickname {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0 16px 0;
  white-space: nowrap;

  &.editing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.save {
  align-items: center;
  text-align: center;
  border: 1px solid var(--statistics-bar-close-icon-border-color);
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  padding: 16px;
  margin-top: 16px;
  width: 100%;
  transition: background-color 50ms ease-in-out;
  background-color: #1F50F7;

  &:hover {
    background-color: #305DF8;
  }

  &:active {
    background-color: #3A65F8;
  }
}

.edit {
  width: 0;
  display: inline-block;
  transform: translate(5px, 5px);
  cursor: pointer;
  user-select: none;

  &:hover {
    .editicon {
      background-color: #283F78;
      path {
        fill: #7992E7;
      }
    }
  }

  &:active {
    .editicon {
      background-color: #3C538D;
      path {
        fill: #92A7EC;
      }
    }
  }

  .editicon {
    transition: background-color 50ms ease-in-out;
    border-radius: 50%;
  }
}

.input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #283F78;
  color: #FFF;
  text-align: center;
  outline: none;

  &::placeholder {
    color: #A3AFF2;
  }

}

.address {
  font-size: 24px;
}

.copyIcon {
  margin-left: 15px;

  &:hover {
    svg path {
      fill: var(--pm-gh-copy-icon-color-hover);
    }
  }

  svg path {
    transition: fill .1s linear;
    fill: var(--pm-gh-copy-icon-color);
  }
}

.tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 32px 0;

    > div {
      padding: 9.5px 20px;
      background-color: var(--statistics-bar-tab-bg-color);
      border-radius: 100px;
      border: 2px solid transparent;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;

      &.activeTab {
        border-color: #ffffff;
        background-color: transparent;
      }
    }
  }
}

.hidden {
  pointer-events: none;
  visibility: hidden;
}


