.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #FF3D00;
  font-family: 'Gilroy', sans-serif;
  color: #ffffff;
  user-select: none;
}