.button {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #0F1F43;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: inherit;

  &.disabled {
    pointer-events: none;
    opacity: .7;
  }

  &[href] {
    text-decoration: unset;
  }

  svg {
    display: block;
  }
}
